.DS_Store
Thumbs.db

archive/

mac/build/
mac/*.app

windows/okfa.windows/bin/
windows/okfa.windows/obj/
windows/okfa.windows/publish/
windows/installer/work/
windows/installer/dist/
windows/installer/payload/

*.zip
*.user
*.suo
*.pdb

.idea/
.vscode/
